<h2>Buscar Usuarios</h2>
<input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nombres" >
<input type="text" name="nombre" placeholder="Apellido" [(ngModel)]="apellidos" >
<input type="text" name="nombre" placeholder="Correo" [(ngModel)]="correo">

<button type="button" (click)="buscarUsuario()">Buscar <i class="fas fa-search"></i></button>


